# Logs
logs/
*.log

# Dependency directories
node_modules/

# Build directories
dist/
build/

# Playwright output
playwright-report/
test-results/
allure-results/
allure-report/

# Environment variables
.env

reports/